[Desktop Entry]
Name=Warp GUI
Comment=A GUI application based on warp-cli for linux written in Rust
Exec=warp-gui
Icon=zero-trust-orange
Terminal=false
Type=Application
Categories=Network;Security;Internet;
StartupNotify=true
NoDisplay=false
Actions=OpenNewWindow;
